$color_grey: rgba(119, 115, 115, 0.5);
$color_brick: #d25e46;
$color_white: #ffffff;
$background-color_grey: rgba(119, 115, 115, 0.5);
$background-color_brick: #219653;

@mixin backgroundColor {
  background-color: $background-color_grey;
  filter: blur();
}
@mixin text {
  color: $color_grey;
  font-weight: 100;
  font-size: 0.5rem;
}

.loginTexts {
  .signIn {
    margin-top: 3rem;
    text-align: center;
  }
  .welcomeText {
    color: $color_brick;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -0.1rem;
    text-align: center;
    .userName {
      font-weight: 500;
    }
  }
}
.loginForm {
  form {
    @include backgroundColor;
    margin-left: 1rem;
    margin-right: 1rem;
    // margin: auto;
    padding-bottom: 1rem;
    border-radius: 12px;
    .formInput {
      display: flex;
      flex-flow: column;
    }
    input {
      border: none;
      border-radius: 8px;
      margin-top: 1.4rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
      &::placeholder {
        font-size: 0.4rem;
        padding-left: 0.6rem;
      }
    }
    .check {
      display: flex;
      .checkBox {
        @include backgroundColor;
        margin-top: 0.2rem;
        border: none;
      }
      p {
        @include text;
        margin-top: 0.6rem;
        margin-left: -0.6rem;
      }
    }
    .continueButton {
      border: none;
      border-radius: 9px;
      background-color: $background-color_brick;
      color: $color_white;
      font-size: 0.5rem;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      @include text;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .loginForm {
    form {
      width: 50%;
      margin: auto;
      input,
      .continueButton {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      .check {
        p {
          margin-left: -1.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
    .loginTexts {
        .signIn {
            font-size: 1.6rem;
            margin-top: 2.5rem;
        }
    }
  .loginForm {
    form {
      width: 40%;
      input,
      .continueButton {
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .check {
        p {
          margin-left: -1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .loginTexts {
    .welcomeText {
      font-size: 2rem;
    }
  }
  .loginForm {
    form {
      width: 35%;
      input {
        border-radius: 16px;
        padding: 1.5rem;
        &::placeholder {
          font-size: 1rem;
          padding-left: 0.5rem;
        }
      }
      .check {
        p {
          font-size: 0.7rem;
        }
      }
      .continueButton {
        padding: 1rem;
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .loginTexts {
    .welcomeText {
      font-size: 3rem;
    }
  }
  .loginForm {
    form {
      width: 40%;
      border-radius: 22px;
      input {
        margin-top: 3rem;
        margin-left: 4rem;
        margin-right: 4rem;
      }
      .continueButton {
        margin-left: 4rem;
        margin-right: 4rem;
      }
    }
  }
}
