.search-result {
  .openning-animation-x {
    animation: openning-animation 0.5s;
    @keyframes openning-animation {
      0% {
        transform: scale(0) translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: scale(1) translateX(0);
        opacity: 1;
      }
    }
  }
  .openning-animation-y {
    animation: openning-animation 0.5s;
    @keyframes openning-animation {
      0% {
        transform: scale(0.1) translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }
  .closing-animation-x {
    animation: closing-animation 0.5s;
    @keyframes closing-animation {
      0% {
        transform: scale(1) translateX(0);
        opacity: 1;
      }
      100% {
        transform: scale(0) translateX(-100%);
        opacity: 0;
      }
    }
  }
  .closing-animation-y {
    animation: closing-animation 0.5s;
    @keyframes closing-animation {
      0% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
      100% {
        transform: scale(0) translateY(-100%);
        opacity: 0;
      }
    }
  }
  .simple-openning-animation-y {
    animation: simple-openning-animation 0.5s;
    @keyframes simple-openning-animation {
      0% {
        transform: scale(0.5) translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: scale(1) translateY(0%);
        opacity: 1;
      }
    }
  }
  .simple-closing-animation-y {
    animation: simple-closing-animation 0.5s;
    @keyframes simple-closing-animation {
      0% {
        transform: scale(1) translateY(0%);
        opacity: 1;
      }
      100% {
        transform: scale(0.5) translateY(-100%);
        opacity: 0;
      }
    }
  }
  .rc-slider-rail {
    height: 10px;
    background-color: #3c4049;
  }
  .rc-slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    background-color: white;
    opacity: 1;
    border: none;
  }
  .rc-slider-track {
    background-color: #bc4e37;
    height: 10px;
  }
  .trip-category-filters {
    box-shadow: inset 0rem -2rem 5rem -3rem rgba(0, 0, 0, 0.906);
    scrollbar-color: #e47a7a #e34f4f; /* Change colors as needed */
    scrollbar-width: thin;
  }
  .trip-category-filters::-webkit-scrollbar-thumb {
    background-color: #e27171; /* Change color as needed */
  }
  .trip-category-filters::-webkit-scrollbar-thumb:hover {
    background-color: #b72828; /* Change color as needed */
  }
}
