.trip-details {
  $color-grey-v1: #b4bbc1;
  $color-orange: #bc4e37;
  $bg-orange-gradient: linear-gradient(
    241.6deg,
    #e6664c -19.43%,
    #8c2009 109.14%
  );

  section {
    color: white;
    h1 {
      font-size: 50px;
      background: linear-gradient(266.53deg, #d25e46 -18.39%, #8c2009 146.29%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h2 {
      color: $color-orange;
      font-size: 30px;
      font-weight: 600;
    }
    .available-dates {
      li {
        padding: 1rem 1.8rem;
        background: rgba(224, 225, 232, 0.12);
        backdrop-filter: blur(5px);
        transition: all 0.5s;

        border-radius: 32px;
      }
      li:hover {
        background-color: #d25e46;
      }
      h2 {
        color: $color-grey-v1;
        font-size: 40px;
      }
      p {
        font-size: 22px;
      }
      @media screen and (min-width: 1024px) {
        li {
          padding: 1rem 2rem;
        }
        h4 {
          font-size: 3rem;
        }
        p {
          font-size: 20px;
        }
      }
    }
    p {
      color: $color-grey-v1;
    }
    .trip-highlights-container {
      h2 {
        color: $color-orange;
      }
    }
    .ocassion-image {
      background: #b4bbc138;
      padding: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.335);
      backdrop-filter: blur(5px);
      border-radius: 1.5rem;
    }
  }
}
