.trips {
  header {
    margin-top: 8.5rem;
    h4 {
      font-weight: 700;
    }
    slect:focus,
    :focus {
      outline: none;
    }
    input::placeholder {
      color: black;
    }
    h1 {
      font-size: 50px;
      text-shadow: 0.1rem 0.1rem 0.3rem black;
      color: white;
      text-align: center;
      margin: auto;
    }
    @media screen and (min-width: 500px) {
      h1 {
        font-size: 90px;
      }
    }
    @media screen and (min-width: 1500px) {
      h1 {
        font-size: 100px;
        width: 774px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    header {
      margin-top: 10rem;
    }
  }
}
