@import "../../style/_mixin.scss";

$color-primary-white: #d0d5d8;
$color-primary-orange: #bc4e37;
$color-primary-yellow: #f2994a;
$color-primary-blue: #1e242a;
$color-primary-grey: #b2b8bd;
$bg-color-blue: #212b33;

.trip-category {
  margin-top: 5rem;
  color: $color-primary-white;
  .trip-category-icons {
    img {
      width: 4rem;
    }
    //media queries
    @media only screen and (min-width: 1024px) {
      img {
        width: 140px;
      }
    }
  }
  .trip-category-filters {
    font-size: 16px;
    background-color: $bg-color-blue;
    border-radius: 2rem;
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
  }
  input[type="checkbox"] {
    background-color: transparent;
    width: 26px;
    border: 3px solid white;
    background: none;
  }
  .trip-category-filter-results {
    .filter-results-cards {
      position: relative;
      .share-icon {
        position: absolute;
        right: 23px;
        top: 23px;
      }
      .show-detail-text {
        position: absolute;
        bottom: 8rem;
        left: -1rem;
      }
      .review-stars {
        position: absolute;
        bottom: 5rem;
        left: 1rem;
      }
      .result-card-details {
        font-weight: 600;
        .location {
          color: $color-primary-grey;
        }
        .trip-date {
          color: $color-primary-grey;
          font-weight: 200;
        }
        .trip-cost {
          color: $color-primary-orange;
        }
        .per-night {
          color: $color-primary-grey;
        }
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    .filter-results-cards {
      width: 17.188rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .trip-category {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (min-width: 1920px) {
  .trip-category {
    margin-left: 24rem;
    margin-right: 24rem;
  }
}
