$color-primary-white: #d0d5d8;
$color-primary-orange: #bc4e37;
$color-primary-yellow: #f2994a;
$color-primary-blue: #1e242a;
$bg-color-blue: #212b33;

.trip-category {
  margin-top: 40rem;
  color: $color-primary-white;
  .trip-category-icons {
    img {
      width: 4rem;
    }
    //media queries
    @media only screen and (min-width: 1024px) {
      img {
        width: 140px;
      }
    }
  }
  .trip-category-filters {
    font-size: 16px;
    background-color: $bg-color-blue;
    border-radius: 2rem;
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
