@import "../../../style/_mixin.scss";

$color-primary-white: #d0d5d8;
$color-primary-orange: #bc4e37;
$color-primary-yellow: #f2994a;
$color-primary-blue: #1e242a;
$color-primary-grey: #b2b8bd;
$bg-color-blue: #212b33;

.trip-category {
  margin-top: 5rem;
  color: $color-primary-white;
  .trip-category-icons {
    img {
      width: 4rem;
    }

    //media queries
    @media only screen and (min-width: 1024px) {
      img {
        width: 140px;
      }
    }
  }
  .show-more {
    p {
      cursor: pointer;
    }
  }
}

.category:hover {
 .category-title {
  color: orange;
 }
 .category-icon {
  // border-color: orange;
  border: solid 2px orange;
  border-radius: 30%;
 }
}


@media screen and (min-width: 1024px) {
  .trip-category {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (min-width: 1920px) {
  .trip-category {
    margin-left: 24rem;
    margin-right: 24rem;
  }
}
