$font-color-grey:#B4BBC1;
$font-color-grey-v2: #73797E;
$icon-color-grey:  #797E86;
$font-name-lexend: 'Lexend', sans-serif;
$font-name-montserrat: 'Montserrat', sans-serif;
$font-name-roboto: 'Roboto', sans-serif;
$font-name-poppins: 'Poppins', sans-serif;

.trouvaille-heading {
    font-family: $font-name-montserrat;
    font-weight: 600;
    background: linear-gradient(90deg, #D5DADD -7.55%, rgba(146, 166, 176, 0.76) 54.06%, #D2DBDF 115.66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}
.trouvaille-text {
    color: $font-color-grey;
    font-family: $font-name-roboto;
}
.social-media{
    p{
        color: $font-color-grey;
        font-family: $font-name-poppins;
    }
}
.footer-text-color{
    color: $font-color-grey-v2;
}