body {
  font-family: 'Roboto', sans-serif;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
  display: flex;
}

.header img {
  padding-top: 1rem;
  padding-left: 2rem;
  width: 3.5rem;
}

.header .title {
  display: flex;
  flex-flow: column;
  padding-top: 0.7rem;
  padding-left: 0.3rem;
  font-weight: 500;
}

.header .subTitle {
  margin-top: -1rem;
  font-size: 0.6rem;
  font-weight: 300;
} 

.header p {
  // font-size: 1rem;
  // padding-top: 0.5rem;
}
